@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 350px;
}

#word-card {
    height: 175px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: lowercase;
}

#controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
}
#previous-btn, #next-btn {
    cursor: pointer;
    padding: 0 15px;
    font-size: 30px;
    color: #888;
    user-select: none;
}
#count {
    margin: 0 10px;
    font-weight: bold;
}

#input-container {
    width: 300px;
    margin-bottom: 10px;
}

#translation-input {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 2px solid #007bff;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    outline: none;
}

#translation-input:focus {
    border-color: #0056b3;
}

#stats-links {
    margin-bottom: 10px;
}

#statistics-link {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

#results-display {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-top: 10px;
}

#correct-count-container, #incorrect-count-container {
    text-align: center;
}

.stats-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.correct-value, .incorrect-value {
    font-size: 24px;
    font-weight: bold;
}

.correct-value, .correct-label {
    color: #00ff00;
}

.incorrect-value, .incorrect-label {
    color: #ff0000;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.hidden {
    display: none !important;
}